body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.home {
    background-color: #232a3a;
    color: white;
}

ol {
    background-color: aqua;
    color: black;

}

li p {
    margin: 0;
}

footer {
    border-top: 0.01rem;
    border-color: gray;
}